<script lang="ts">
	export let data;
	let { user } = data;
	console.log(user);
</script>

<svelte:head>
	<title>Luxuride - Sign Out</title>
	<meta name="description" content="Sign out page" />
	<meta name="keywords" content="Sign out" />
	<meta name="robots" content="noindex, nofollow" />
</svelte:head>

<h1>Sign Out</h1>
<flex class="flex-col align-middle justify-between text-center">
	<p class="text-size-8">
		Signed in as
		<strong>{user?.display_name ?? 'User'}</strong>
	</p>
	<form action="/auth/sign-out" method="POST">
		<button class="text-size-10 py-5 hover:cursor-pointer" type="submit">Sign out</button>
	</form>
</flex>
