<svelte:head>
	<title>Luxuride - Sign In</title>
	<meta name="description" content="Sign in page" />
	<meta name="keywords" content="Sign in" />
	<meta name="robots" content="noindex, nofollow" />
</svelte:head>

<h1>Sign In</h1>
<flex>
	<form
		class="flex flex-col mx-1em text-center"
		action="/auth/sign-in?provider=gitlab"
		method="POST"
	>
		<button
			id="gitlab-signin"
			type="submit"
			class="i-logos-gitlab text-size-20 mx-4 hover:cursor-pointer mx-auto"
		/>
		<label for="gitlab-signin" class="hover:cursor-pointer">Sign in with gitlab</label>
	</form>

	<form
		class="flex flex-col mx-1em text-center"
		action="/auth/sign-in?provider=github"
		method="POST"
	>
		<button
			id="github-signin"
			type="submit"
			class="i-logos-github-icon text-size-20 mx-4 dark:bg-white hover:cursor-pointer dark:rounded-50% mx-auto"
		/>
		<label for="github-signin" class="hover:cursor-pointer">Sign in with github</label>
	</form>
</flex>
